[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"
pylint = "*"
moto = "*"
coverage = "==7.5.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
